.list{
    padding: 0;
    width:50%;
    list-style: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 16px;
    color:rgb(26, 24, 24);
    border: 1px solid black;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    margin-left: 50px;
}

.item{
    margin-bottom: 20px;
    padding:0;
    margin-top: 20px;
}

.btn{
    background-color: rgb(198, 136, 174);
    min-width:120px;
    height: 35px;
    border-radius: 10px;
}

.btn:hover, .btn:focus {
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    background-color: aliceblue;
}